.msg_container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.hide {
  display: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #e1f7f5;
  box-sizing: border-box;
  text-align: center;
}
#msg {
  font-size: 8vmin;
  margin: 1px 0px;
  color: #0e46a3;
}
#reset-btn,
#new-btn {
  padding: 10px 25px;
  border-radius: 12px;
  /* border-radius: 6px; */
  border: none;
  background-color: #1e0342;
  color: #e1f7f5;
  font-size: 22px;
  box-sizing: border-box;
}
.container {
  height: 70vmin;
  justify-content: center;
  align-items: center;
  display: flex;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}
.box {
  border-radius: 10px;
  border: none;
  background-color: #9ac8cd;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  height: 18vmin;
  color: #0e46a3;
  width: 18vmin;
  font-size: 12vmin;
}
